<div class='panel panel-primary'> 
     <div class='panel-heading'> 
         {{pageTitle}}
     </div> 
 
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>book 1</td>
                    </tr>
                    <tr>
                        <td>book 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

 </div>