<div class='panel panel-primary'> 
     <div class='panel-heading'> 
         {{pageTitle}}
     </div> 
 
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#book of books">
                        <td>{{book.title}}</td>
                        <td>{{book.year}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.genre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

 </div>